body {
    color: black;
    background: rgb(0, 0, 0);

/*
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    background-size: 1440px 772px ; */


    background-size: cover;

}

.center {
     text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.floatLeft{
  float:left;
  margin-right:130px;
  border: 2px solid black;
}

.floatRight{
  float:right;
  margin-left:130px;
}



img.border {
  border: 0px solid black;
}

.inline-block {
   display: inline-block;
}


#object1 {
  width: 144px;
  height: 142px;
  background-color: green;
  position: absolute;
  top: 29.2%;
  left: 34.8%;
  margin-top: -50px;
  margin-left: -50px;
  border: 4px solid black;
}

#object2 {
  width: 158px;
  height: 80px;
  background-color: green;
  position: absolute;
  top: 29.2%;
  left: 43.75%;
  margin-top: -50px;
  margin-left: -50px;
  border: 4px solid black;
}

#object3 {
  width: 138px;
  height: 188px;
  background-color: green;
  position: absolute;
  top: 29.2%;
  left: 53.4%;
  margin-top: -50px;
  margin-left: -50px;
  border: 4px solid black;
}

#object4 {
  width: 144px;
  height: 284px;
  background-color: green;
  position: absolute;
  top: 29.2%;
  left: 62%;
  margin-top: -50px;
  margin-left: -50px;
  border: 4px solid black;
}
