body {
     max-width: 920px;
     margin-top: 2%;
     margin-bottom: 2%;
     margin-left: auto;
     margin-right: auto;
     min-height: 100vh;
     padding-left: 2%;
     padding-right: 2%;
     padding-bottom: 100px;
     position: relative;
     height: 100%;

}

body {
    color: #000000;
    background: #ccb6db;
    text-align: center;
    /*background-image: url("media/bg_light.png");*/
}
